#content.locads
  .gutter
    %h1.link_head
      Support Our Local Businesses!         
    .all_links
      %h2.link_cat
        Antiques Dealer
      .one_link
        .link_title
          = link_to 'Katz Antiques', 'http://www.theekatzmeow.com'
        .link_text
          We Buy and Sell Estates, and we always have cool new stuff in our store! 
          2970 Adeline St., Berkeley 94703 510.388.8433
      %h2.link_cat
        Art Galleries
      .one_link
        .link_title
          = link_to 'Calrain Arts & Antiques and The FigTree Gallery', 'http://calrainarts.com'
        .link_text
          A hidden treasure in Berkeley’s historic Sawtooth Building. Arts, antiques, 
          body products and collectibles. 2599 8th Street #42, Berkeley, CA 94710.  510.540.7843
      %h2.link_cat
        Book Stores
      .one_link
        .link_title
          = link_to 'BCA Bookstore', 'http://www.bcabookstore.com', :target => '_blank'
        .link_text
          We carry the largest selection of Buddhist books and spiritual goods.
      %h2.link_cat
        Help Wanted
      .one_link
        .link_title
          = link_to 'Easy Does It Emergency Services', 'http://www.easydoesitservices.org', :target => '_blank'
        .link_text
          Now hiring attendants for independent at home clients.
      %h2.link_cat
        Hobbies
      .one_link
        .link_title
          = link_to 'Boss Robot Hobby ', 'http://bossrobot.com'
        .link_text
          The place to shop for Model Kits, Educational Toys, Japan Imports, 
          Vintage Toys, Radio Control.  2953 College Ave., 
          Berkeley (near Ashby Ave.) 510.841.1680.
      %h2.link_cat
        Home Services
      .one_link
        .link_title
          = link_to 'Albert Nahman Plumbing', 'http://www.albertnahmanplumbing.com', :target => '_blank'
        .link_text
          Your plumbing and heating system's best friend in the East Bay.
      .one_link
        .link_title
          = link_to 'Gill\'s Electric', 'http://www.gillselectric.com', :target => '_blank'
        .link_text
          Solar design & installation, Energy saving upgrades.
      .one_link
        .link_title
          = link_to 'Live Oak Structural', 'http://liveoakstructural.com', :target => '_blank'
        .link_text
          A reputation for quality home repairs, foundations, 
          decks and pest control services for over 20 years.
      .one_link
        .link_title
          = link_to 'L.J. Kruse Company', 'http://www.ljkruse.com', :target => '_blank'
        .link_text
          Plumbing, Heating, Cooling. What can Green do for you? 
      .one_link
        .link_title
          = link_to 'Lowney Architecture. Ken Lowney, AIA, LEED AP', 'http://www.lowneyarch.com', :target => '_blank'
        .link_text
          Sustainable Commercial, Retail and Residential Architecture.
      .one_link
        .link_title
          = link_to 'Sachi', 'http://sachilandscape.com', :target => '_blank'
        .link_text
          Full service landscape design &amp; construction company 
          specializing in low maintenance xeriscape. 
      .one_link
        .link_title
          = link_to 'Moulding Direct - 510.346.TRIM (8746)', 'http://www.moulding-direct.com', :target => '_blank'
        .link_text
          All types of Trim & Moulding, Doors,Columns,Stucco Foam & 
          Flooring.  "You can't get it cheaper unless you steal it." 
      %h2.link_cat
        Jewelry
      .one_link
        .link_title
          = link_to 'Gem Gallery', 'http://www.the-gemgallery.com', :target => '_blank'
        .link_text
          Your Neighborhood Full Service Jewelry store.
          Custom designed Jewelry and hard to find gems.
          WE DO REPAIRS. Family owned since 1938      
      %h2.link_cat
        Neighborhood Shopping Districts
      .one_link
        .link_title
          = link_to 'Fourth Street Shops', 'http://www.fourthstreet.com'
        .link_text
          This local Berkeley treasure is every shoppers delight... 
          visit our 65 fine boutiques and restaurants.
      %h2.link_cat
        Office Supplies
      .one_link
        .link_title
          = link_to 'Alko Office Supply ', 'http://www.alkos.com', :target => '_blank'
        .link_text
          Over 50 years of Servicing Local Customers 2225 Shattuck Ave, Berkeley.  
          510-848-3356.
      %h2.link_cat
        Pets
      .one_link
        .link_title
          = link_to 'Sirius Puppy Training', 'http://www.siriuspup.com', :target => '_blank'
        .link_text
          The original and leading provider of puppy training classes 
          in the San Francisco Bay Area. 
      %h2.link_cat
        Real Estate
      .one_link
        .link_title
          = link_to 'Berkeley Hills Realty', 'http://www.berkhills.com', :target => '_blank'
        .link_text
          Longtime locals: Small Business Ethics with a Big World View. 
      .one_link
        .link_title
          = link_to 'Better Homes Realty Rockridge -- Kevin Brown, Broker-Owner', 'http://www.bhrrockridge.com', :target => '_blank'
        .link_text
          31 years of Real Estate experience specializing in our community. 
      .one_link
        .link_title
          = link_to 'Cal Rentals', 'http://calrentals.berkeley.edu', :target => '_blank'
        .link_text
          UC Berkeley's Online Listing Service for Students, Faculty & Staff.
      .one_link
        .link_title
          = link_to 'Prudential California Realty - Nicole Bailey', 'http://www.greenhouserealestate.net', :target => '_blank'
        .link_text
          Green Certified Real Estate Broker.  Get the Green Advantage. Visit my
          = link_to 'blog', 'http://www.greenhouserealestate.net', :target => '_blank'
          for more info. 
      %h2.link_cat
        Recycled Goods
      .one_link
        .link_title
          = link_to 'Urban Ore', 'http://urbanore.ypguides.net/', :target => '_blank'
        .link_text
          Three acres of secondhand stuff, including: 28 categories of doors; windows; 
          sinks; tubs; lumber; bricks; cabinets; clothing; hardware; housewares; 
          furniture; books; music; art; art supplies; home electronics; old gas stoves; 
          collectibles; and a lot of miscellaneous.  Open 360 days a year.
      %h2.link_cat
        Resource Guide
      .one_link
        .link_title
          = link_to 'EcoMetro Guide', 'http://www.ecometro.com', :target => '_blank'
        .link_text
          offers resources and several hundred coupons from local green
          businesses. East Bay and Silicon Valley/Santa Cruz editions available.
          Information at ecometro.com.
      %h2.link_cat
        Schools
      .one_link
        .link_title
          = link_to 'Jewish Community High School of the Bay (JCHS)', 'http://www.jchsofthebay.org', :target => '_blank'
        .link_text
          JCHS provides a rigorous general studies program with thought-provoking
          Jewish studies. Students express themselves through our dynamic arts,
          athletics, community outreach, and experiential learning trips.
      %h2.link_cat
        Shoes
      .one_link
        .link_title
          = link_to 'Elmwood Village Shoes', 'http://www.elmwoodvillageshoes.com', :target => '_blank'
        .link_text
          Since 1991, we carry the finest shoes: Dansko, Ecco, Naot, Finn Comfort, 
          Pikolinos, Josef Seibel, Wolky, SAS, Beautifeel, Clarks, Keen, Earth and Chaco.
      %h2.link_cat
        Specialty Shops
      .one_link
        .link_title
          = link_to 'Bills Trading Post', 'http://www.bills-tradingpost.com', :target => '_blank'
        .link_text
          Authentic Native American Arts & Crafts.  
          Baskets, carvings, pottery, beadwork, and more. 
          In the Elmwood District of Berkeley since 1938.
      %h2.link_cat
        Storage
      .one_link
        .link_title
          = link_to 'Saf Keep Storage', 'http://www.safkeep.com', :target => '_blank'
        .link_text
          Saf Keep is the right choice for your storage needs. 
          Our friendly and reliable team is ready to assist you.
          Free move in truck.  STUDENT DISCOUNTS.
      %h2.link_cat
        Training
      .one_link
        .link_title
          = link_to 'Discover a career in healthcare!', 'http://www.adultedreg.com/bostonreed?utm_campaign=general&amp;utm_source=berkeleydailyplanet&amp;utm_medium=weblink', :target => '_blank'
        .link_text
          Boston Reed is proud to be the largest national provider of allied 
          health training. Call us or apply online today! 
      %h2.link_cat
        Volunteers
      .one_link
        .link_title
          = link_to 'Train to be a crisis intervention counselor', 'http://www.crisissupport.org', :target => '_blank'
        .link_text
          Crisis Support Services of Alameda County needs volunteers to answer our 24 hour crisis lines. 
      
= partial_include("nav_topics")

