!!!
%html{"xml:lang"=>"en", "lang"=>"en", "xmlns"=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"content"=>"text/html;charset=UTF-8", "http-equiv"=>"content-type"}/
    %title
      = controller.action_name
    = stylesheet_link_tag 'public'
    = stylesheet_link_tag 'admin'
  %body
    %table#page_table
      %tbody
        %tr
          %td#left_column
            = left_menu
          %td#center_column
            .flash
              - for key, value in flash
                = content_tag('div', value, :style => 'color: green', :class => key)
            = yield
          %td#right_column
            = right_menu
            /= yield :right_column

